[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[packages]
flask = "*"
flask-cors = "*"
requests = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
pylint = "*"
